<nav class="flex justify-evenly items-center p-2 bg-gray-200">
  <div>
    <a href="/home">
      <img src="/images/logo.png" alt="" class="h-12 rounded-full" />
    </a>
  </div>
  <div>
    <ul class="flex w-full justify-center">
      <li class="p-2 text-xl hover:text-2xl">
        <a href="/admin-home">Home</a>
      </li>
      <li class="p-2 text-xl hover:text-2xl">
        <a href="/add-product">Add Product</a>
      </li>
      <li class="p-2 text-xl hover:text-2xl">
        <a href="/admin-product-list">Products</a>
      </li>
    </ul>
  </div>
  <div>
    <ul class="flex w-full justify-center">
      <li class="p-2 text-lg hover:text-xl">
        <a href="/login">Login</a>
      </li>
      <li class="p-2 text-lg hover:text-xl">
        <a href="/login">Sign Up</a>
      </li>
    </ul>
  </div>
</nav>
