<%- include('./partials/head') %>
  <body>
    <header>
      <%- include('./partials/storeNav') %>
    </header>
    <main class="flex justify-center items-center h-screen">
      <div>
        <h1 class="text-red-500 text-center font-bold text-5xl">404! Page not found!</h1>
        <a class="mt-10 text-blue-500 text-2xl font-medium flex justify-center" href="/home">Go to Home</a>
      </div>
    </main>
  </body>
</html>
